<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аренда Delidrive</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
    <body>
        <header th:insert="~{blocks/header :: header}"></header>

        <div class="container mt-5">
            <h1>Машины для аренды</h1>
            <div th:each="el : ${announcements}" th:if="!${el.renter}" class="alert alert-dark mt-2">
                <h3 th:text="${el.car_name}"></h3>
                <img th:src="'/images/' + ${el.previewImageId}" width="20%">
                <p><b>Мощность: </b><span th:text="${el.power}"/> л. с.</p>
                <p><b>Кол-во сидений: </b><span th:text="${el.seats}"/> шт.</p>
                <p><b>Поколение: </b><span th:text="${el.generation}"/>-е поколение</p>
                <p><b>Цвет: </b><span th:text="${el.color}"/></p>
                <p th:text="${el.full_text}"></p>
                <p><b>Цена: </b><span th:text="${el.price}"/> руб/день</p>
                <p><b>Дата: </b><span th:text="${#temporals.format(el.dateOfCreated, 'dd-MM-yyyy')}"/></p>
                <a th:href="'/announcement/' + ${el.id}" class="btn btn-warning">Подробнее</a>
            </div>
        </div>

        <div th:insert="~{blocks/footer :: footer}"></div>
    </body>
</html>