<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование обьявления</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
    <body style="font-size: larger">
        <header th:insert="~{blocks/header :: header}"></header>

        <div class="container mt-5 mb-5">
            <h1>Редактирование обьявления</h1>
            <div th:each="el : ${announcement}">
                <form method="post" enctype="multipart/form-data">
                    <input th:value="${el.car_name}" type="text" name="car_name" placeholder="Введите название машины" class="form-control">
                    <input th:value="${el.power}" type="number" min="1" name="power" placeholder="Введите мощность" class="form-control">
                    <input th:value="${el.seats}" type="number" min="1" name="seats" placeholder="Введите кол-во мест" class="form-control">
                    <input th:value="${el.generation}" type="number" min="1" name="generation" placeholder="Введите поколение" class="form-control">
                    <input th:value="${el.color}" type="text" name="color" placeholder="Введите цвет машины" class="form-control">
                    <textarea name="full_text" placeholder="Введите текст обьявления" class="form-control" th:text="${el.full_text}"></textarea>
                    <input th:value="${el.price}" type="number" min="1" name="price" placeholder="Введите цену за день аренды в рублях" class="form-control"><br>
                    <input type="file" name="file1" class="form-control">
                    <input type="file" name="file2" class="form-control">
                    <input type="file" name="file3" class="form-control">
                    <input type="file" name="file4" class="form-control"><br>
                    <button th:if="${el.user.email} == ${currentUser.email}" type="submit" class="btn btn-success">Обновить обьявление</button>
                </form>
            </div>
        </div>

        <div th:insert="~{blocks/footer :: footer}"></div>
    </body>
</html>