<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аренда Delidrive</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
    <body>
        <header th:insert="~{blocks/header :: header}"></header>

        <div class="container mt-5">
            <h1>Машины для аренды</h1>
            <div th:each="el : ${announcements}" th:if="!${el.renter}" class="alert alert-info mt-2">
                <h3 th:text="${el.car_name}"></h3>
                <p th:text="'Мощность: ' + ${el.power} + ' лс.'"></p>
                <p th:text="'Количество сидений: ' + ${el.seats} + ' шт.'"></p>
                <p th:text="'Поколение: ' + ${el.generation} + '-е поколение'"></p>
                <p th:text="'Цвет: ' + ${el.color}"></p>
                <p th:text="'Цена: ' + ${el.price} + ' руб/день'"></p>
                <a th:href="'/announcement/' + ${el.id}" class="btn btn-warning">Подробнее</a>
            </div>
        </div>

        <div th:insert="~{blocks/footer :: footer}"></div>
    </body>
</html>